body {
  margin: 0;
}
.navbar {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
}

.home,
.munu {
  cursor: pointer;
}

.navbar img {
  padding: 0.3rem;
}

.menu span {
  margin-left: 3rem;
}
